
<div class="background-image">

    <h1 class="display-4">Proyectos</h1>

    <a type="button" class="btn-floating light-blue create-buttom" (click)="formProject()" title="Crear nuevo proyecto">
        <i class="bi bi-plus-square"></i> Crear Proyecto
    </a>

    <div class="main-container card-body custom-card-body" style="margin-bottom: 90px">
        <h5 class="card-title text-center">Tabla de Proyectos</h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre del proyecto</th>
                    <th scope="col">Palabras clave</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projectList; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{project.title}}</td>
                    <td>{{project.keywords}}</td>
                    <td>{{project.createdUser.username}}</td>
                    <td>{{project.dateCreated}}</td>
                    <td>
                        <div class="row justify-content-around">
                            <a class="btn btn-outline-dark" role="button" (click)="formProject(project)" title="Acceder al proyecto">
                                <i class="bi bi-file-earmark-bar-graph"></i>
                            </a>
                            <a class="btn btn-outline-dark" role="button" (click)="deleteProject(project)" *ngIf="tokenService.isAdmin()" title="Borrar el proyecto">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
