
<div class="background-image">

    <a type="button" class="btn-floating light-blue create-buttom" (click)="redirectFormProject()" title="Crear nuevo proyecto">
        <i class="bi bi-plus-square"></i> Crear Proyecto
    </a>

    <div class="main-container card-body custom-card-body">
        <h5>Filtrar proyectos</h5>

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="project-name">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="project-name" aria-describedby="project-name"
                        placeholder="Proyecto">
                </div>
                <div class="form-group col-md-6">
                    <label for="project-name">Palabras clave</label>
                    <input type="text" class="form-control" id="project-name" aria-describedby="project-name"
                        placeholder="Proyecto">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Participantes</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Participantes">
                </div>
                <div class="row form-group col-md-6 align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Solo mis proyectos
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="d-flex align-items-end flex-column">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>

    
    <div class="main-container card-body custom-card-body">
        <h5 class="card-title text-center">Tabla de Proyectos</h5>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre del proyecto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Palabras clave</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projectList; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{project.title}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.keywords}}</td>
                    <td>{{project.location}}</td>
                    <td>
                        <a role="button" class="btn btn-outline-dark" (click)="redirectFormProject(project.id)"><i class="bi bi-pencil"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding-bottom: 50px">
        <app-leaflet-map [sensorList]="sensorList" ></app-leaflet-map>
    </div>
    
</div>
