<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
</div>

<div class="modal-body">
    <form autocomplete="off" #registerForm="ngForm" id="registerForm">
        
        <!-- Password -->
        <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" class="form-control" id="inputPassword" autocomplete="off" name="inputPassword" [(ngModel)]="password" maxlength="512" required>
        </div>

        <!-- Repeated Password -->
        <div class="form-group">
            <label for="inputRepeatedPassword">Repetir Contraseña</label>
            <input type="password" class="form-control" id="inputRepeatedPassword" autocomplete="off" name="inputRepeatedPassword" [(ngModel)]="repeatedPassword" maxlength="512" required>
        </div>
        
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirm()" [disabled]="isPasswordNotEqual()">Acceptar</button>
</div>