<div class="background-image">

    <div class="container main-container">
        <div class="row">

            <div class="card-body">

                <h5 class="card-title text-center">Registro de nuevo usuario 
                    <a type="button" class="btn-floating light-blue" style="font-size: 30px;" data-toggle="modal"
                        data-target="#exampleModal" title="Añadir nuevo usuario">
                        <i class="bi bi-plus-circle-fill"></i>
                    </a>
                </h5>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre de usuario</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Fecha de creacion</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of usersList; let i = index">
                            <th scope="row">{{i}}</th>
                            <td>{{user.username}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.lastname}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.dateCreated | date: 'dd/MM/yyyy'}}</td>
                            <td><i class="bi bi-pencil"></i> <i class="bi bi-trash"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registro de nuevo usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" #registerForm="ngForm" id="registerForm">
                                <div class="form-group">
                                    <label for="inputRegisterUser">Nombre</label>
                                    <input type="text" class="form-control" id="inputRegisterUser" autocomplete="off"
                                        name="inputRegisterUser" [(ngModel)]="user.name" maxlength="8" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputRegisterUser">Apellidos</label>
                                    <input type="text" class="form-control" id="inputRegisterUser" autocomplete="off"
                                        name="inputRegisterUser" [(ngModel)]="user.lastname" maxlength="8" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputRegisterUser">Usuario</label>
                                    <input type="text" class="form-control" id="inputRegisterUser" autocomplete="off"
                                        name="inputRegisterUser" [(ngModel)]="user.username" maxlength="8" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputRegisterEmail">Correo</label>
                                    <input type="email" class="form-control" id="inputRegisterEmail" autocomplete="off"
                                        name="inputRegisterEmail" [(ngModel)]="user.email" required>
                                </div>

                                <!-- ROLE -->
                                <div class="form-group">
                                    <label for="inputRoles">Roles</label>
                                    <select class="custom-select" multiple id="inputRoles" name="inputRoles"
                                        [(ngModel)]="user.roles">
                                        <option selected>Elige...</option>
                                        <option value="admin">Administrador</option>
                                        <option value="user">Usuario</option>
                                    </select>
                                </div>

                                <!-- Password -->
                                <div class="form-group">
                                    <label for="inputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword1" autocomplete="off"
                                        name="inputPassword1" [(ngModel)]="user.password" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword2">Repita contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword2" autocomplete="off"
                                        name="inputPassword2" [(ngModel)]="repeatedPassword" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" #registerFormSubmit class="btn btn-primary" data-dismiss="modal"
                                [disabled]="user.password != repeatedPassword" (click)="register()">Guardar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>