<div class="background-image">

    <h1 class="display-4">Administración de usuarios</h1>

    <a type="button" class="btn-floating light-blue create-buttom" title="Crear nuevo usuario" (click)="createUser()">
        <i class="bi bi-plus-square"></i> Crear Usuario
    </a>

    <div class="main-container card-body custom-card-body">

        <h5 class="card-title text-center">Tabla de usuarios</h5>

        <div class="table-responsive-lg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-center">Nombre de usuario</th>
                        <th scope="col" class="text-center">Nombre y apellidos</th>
                        <th scope="col" class="text-center">Correo</th>
                        <th scope="col" class="text-center">Fecha de creación</th>
                        <th scope="col" class="text-center">Último acceso</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList; let i = index">
                        <th scope="row" class="col-md-1">{{i}}</th>
                        <td class="col-md-2">{{user.username}}</td>
                        <td class="col-md-2">{{user.name}} {{user.lastname}}</td>
                        <td class="col-md-2">{{user.email}}</td>
                        <td class="col-md-2 text-center">{{user.dateCreated | date: 'dd/MM/yyyy'}}</td>
                        <td class="col-md-2 text-center">{{user.dateLastLogin | date: 'dd/MM/yyyy'}}</td>
                        <td class="col-md-1 text-center">
                            <div class="row justify-content-around">
                                <a class="btn btn-outline-dark" role="button" (click)="editUser(user)" data-toggle="modal" data-target="#registerModal">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-outline-dark" role="button" (click)="deleteUser(user)">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
</div>