

<i class="bi bi-arrow-up-square go-top-button" aria-label="Ir arriba" (click)="goToTheTop()" *ngIf="verticalOffset > 20"></i>

<footer class="footer font-small pt-2" [ngClass]="{'footer-hide': verticalOffset > 20}">
    <div class="container">
        <ul class="list-unstyled text-center py-1">
        <li>
            <h5 class="mb-1" style="font-size: 13px;">Developed by Miguel García Serrano 
                <a href="https://github.com/miguelgarse/iot" title="Repositorio GitHub de este proyecto" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
            </h5>
        </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-1">© 2021 Copyright:
        <a href="https://www.upm.es/" target="_blank"> Universidad Politécnica de Madrid</a> |
        <a href="https://www.etsisi.upm.es/" target="_blank"> ETSISI</a> |
        <a href="http://www.upm.es/AvisoLegal" target="_blank"> Aviso Legal</a>
    </div>
</footer>