.footer{
    z-index: 10;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(46, 69, 129, 0.801);
    color: white;
    text-align: center;
    height: 100px;
    transition: height 1s;
}

.footer-hide {
    height: 1px;
}

.go-top-button{
    position: fixed !important;
    right: 20px;
    bottom: 40px;
    z-index: 9999;
    cursor: pointer;
    padding: 10px;
    font-size: 40px;
}

.go-top-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.bi-github{
    color: black;
    font-size: 15px;
    margin-left: 3px;
}
.bi-github:hover{
    color: black;
}

.footer-copyright > a{
    color: #ffffffa3;
}