<div class="background-image">

  <h1 class="display-4">Mi perfil</h1>

  <div class="container">

    <div class="main-body">

      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img [src]="imgURL" (click)="file.click()" alt="Imagen de perfil" class="rounded-circle profile-image" width="150" title="Cargar nueva imagen">
                <input #file type="file" accept='image/*' (change)="loadNewProfileImage(file.files)" style="display:none">
                <div class="mt-3">
                  <h4>{{currentUser.name}}</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-globe mr-2 icon-inline">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path
                      d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                    </path>
                  </svg>API token <i class="bi bi-arrow-repeat like-button" (click)="generateNewApiToken()" title="Generar un nuevo token"></i></h6> 
                <span class="text-secondary">{{currentUser.tokenApi}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <div class="row justify-content-end">
                  <button type="button" class="btn btn-outline-secondary" (click)="changePassword()" title="Cambiar contraseña">Cambiar contraseña</button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- User data -->
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nombre</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{currentUser.name}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Apellidos</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{currentUser.lastname}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Correo</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{currentUser.email}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Cuenta de usuario</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{currentUser.username}}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Github</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" id="githubAccount" name="githubAccount" placeholder="Introduce tu cuenta de GitHub" maxlength="64" [(ngModel)]="currentUser.githubAccount">
                  <small class="form-text text-muted text-right">{{currentUser.githubAccount.length}}/255</small>
                </div>
              </div>

              <div class="row justify-content-end modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveChanges()" title="Guardar cambios">Guardar</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>