.footer{
    z-index: 99999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(46, 69, 129, 0.801);
    color: white;
    text-align: center;
    height: 100px;
    transition: height 1s;
}

.footer-hide {
    height: 1px;
}