<footer class="footer font-small pt-2" [ngClass]="{'footer-hide': verticalOffset > 20}">

    <div class="container">
        <ul class="list-unstyled text-center py-1">
        <li>
            <h5 class="mb-1" style="font-size: 15px;">Developed by Miguel García Serrano   <a href="https://github.com/miguelgarse/iot"><i class="bi bi-github"></i></a></h5>
        </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="https://www.upm.es/"> Universidad Politécnica de Madrid</a> |
        <a href="https://www.etsisi.upm.es/"> ETSISI</a>
    </div>
    <!-- Copyright -->

</footer>