
.background-image {
    background-image: url(../../../assets/background_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


.jumbotron-custom{
    padding-bottom: 20px;
    padding-top: 25px;
}