<div class="background-image">
    <div class="container">
        <br>
        <div class="jumbotron text-center jumbotron-custom">
            <h2 class="display-4">Plataforma IoT de la E.T.S.I. Sistemas Informáticos</h2>
            <p class="lead">Bienvenido al laboratorio web para la experimentación con dispositivos IoT basado en la colaboración y compartición de conocimiento</p>
        </div>

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-1">
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                        User
                        <div class="form-label-group">
                            <input formControlName="usuario" class="form-control" placeholder="Usuario">
                        </div>
                        <br> 
                        Password
                        <div class="form-label-group">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password">
                        </div>
                        <br>
                        <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
