

<div class="background-image">

  <form class="col-sm-9 col-md-10 col-lg-10 mx-auto card-body custom-card-body">
   
    <!-- Title -->
    <div class="form-group">
      <label for="title">Título</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Título" [(ngModel)]="projectFrom.title" >
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea type="text" class="form-control" id="description" name="description" placeholder="Descripción" [(ngModel)]="projectFrom.description"></textarea>
    </div>

    <!-- Keywords -->
    <div class="form-group">
      <label for="keywords">Palabras clave</label>
      <input type="text" class="form-control" id="keywords" name="keywords" placeholder="Meteorología; Temperatura; Madrid; Parque del Retiro"
      [(ngModel)]="projectFrom.keywords">
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label for="userGroup">Dirección del proyecto</label>
      <input type="text" class="form-control" id="userGroup" name="userGroup" 
             placeholder="Calle de Alan Turing, s/n, 28031, Madrid" [(ngModel)]="projectFrom.location">
    </div>

    <!-- Coordenadas -->
    <div class="form-row">
      <div class="form-group col-8">
        <label for="userGroup">Coordenadas</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="userGroup" name="userGroup" placeholder="40.3895, -3.6270">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="mapModalButton" 
                    title="Ver localizacion en el mapa" (click)="openMapModal()"><i class="bi bi-map"></i></button>
          </div>
        </div>
      </div>
    </div>
    

    <hr>

    <div>
      <a type="button" class="btn-floating light-blue create-buttom" title="Crear nuevo proyecto"
          data-toggle="modal" data-target="#sensorModal" *ngIf="!isEdition">
        <i class="bi bi-plus-square"></i> Añadir sensor
      </a>

      <table class="table table-striped" *ngIf="projectFrom.sensors">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre del sensor</th>
                <th scope="col">Tipo de sensor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sensor of projectFrom.sensors; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{sensor.name}}</td>
                <td>{{getSensorTypeById(sensor.sensorTypeId).code}}</td>
                <td>
                    <a role="button" class="btn btn-outline-dark"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        </tbody>
      </table>

      <hr>
    </div>
    
    <!-- Datos de los sensores -->
    <div class="input-group mb-3" *ngIf="isEdition">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Añadir datos</span>
      </div>
      <div class="custom-file">
        <input type="file" accept=".csv" class="custom-file-input" id="uploadCsv" aria-describedby="inputGroupFileAddon01" (change)="fileChange($event)">
        <label class="custom-file-label" for="uploadCsv">{{csvFile?csvFile.name:"Seleccione un fichero"}}</label>
      </div>
      
      <!-- Gráficas -->
      <div echarts [options]="graphsOptions" class="demo-chart"  style="width: 100%; min-height: 400px; margin-top: 50px;"></div>
    </div>

    <hr>

    <div>
      <rating [max]="5" [(ngModel)]="projectFrom.rating" [customTemplate]="tt"></rating>
      <div class="card">
        <pre class="card-block card-header" style="margin:15px 0;"> <b>(<i>Rate:</i> {{projectFrom.rating}})</b> </pre>
      </div>
      <ng-template #tt let-i="index" let-v="value">
        <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
          {{i < v ? '&#9733;' : '&#9734;'}}
        </button>
      </ng-template>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-secondary" (click)="cancelProject()">Cancelar</button>
        <button type="submit" class="btn btn-primary offset-1" (click)="createUpdateProject()">Guardar</button>
    </div>
    
  </form>

  
  





  <div class="modal fade" id="sensorModal" tabindex="-1" role="dialog" aria-labelledby="sensorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sensorModalLabel">Añadir sensor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
              <form>
                <!-- Name -->
                <div class="form-group">
                  <label for="title">Nombre del sensor</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Título" [(ngModel)]="auxSensor.name" >
                </div>
            
                <!-- Type -->
                <div class="form-group">
                  <label for="description">Tipo de sensor</label>
                  <select class="custom-select" id="sensorType" name="sensorType" [(ngModel)]="auxSensor.sensorTypeId">
                    <option value="0"selected>Selecciona un tipo de sensor</option>
                    <option [value]="sensorType.id" *ngFor="let sensorType of sensorTypesMasterTable" [title]="sensorType.description">{{sensorType.code}}</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addSensor()">Añadir</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
  </div>


</div>

