.background-image {
    background-image: url(../../../../../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.chip{
    background-color: #d9d9d9d1;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}