<div class="background-image">

    <h1 class="display-4">Administración de tipos de sensores</h1>

    <a type="button" class="btn-floating light-blue create-buttom" title="Crear nuevo usuario" 
        data-toggle="modal" data-target="#registerModal">
        <i class="bi bi-plus-square"></i> Crear tipo de sensor
    </a>


    <div class="main-container card-body custom-card-body">

        <h5 class="card-title text-center">Tabla de tipos de sensor</h5>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Código</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fabricante</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sensorType of sensorTypeList; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{sensorType.code}}</td>
                    <td>{{sensorType.category.category}}</td>
                    <td>{{sensorType.manufacturer}}</td>
                    <td>
                        <div class="row justify-content-around">
                            <a class="btn btn-outline-dark" role="button" (click)="editSensorType(sensorType)">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-outline-dark" role="button" (click)="deleteSensorType(sensorType)">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>