/* You can add global styles to this file, and also import other style files */

/* Adding bootstrap icons */
@import '~bootstrap-icons/font/bootstrap-icons';  

.main-container {
    margin: 25px;
}

.background-image {
    padding-top: 20px;
}

.username{
    margin-right: 20px;
}


.fade-in {
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.create-buttom {
    color: #000000e3;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

.display-4{
    margin-left: 25px!important;
}

.custom-card-body{
    box-shadow: 5px 10px 24px 4px rgba(0,0,0,0.43);
    -webkit-box-shadow: 5px 10px 24px 4px rgba(0,0,0,0.43);
    -moz-box-shadow: 5px 10px 24px 4px rgba(0,0,0,0.43);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 25px;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

.custom-hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

fieldset {
    border: 1px solid rgba(221, 221, 221, 0.836)!important;
    border-radius: 4px;
    padding: 15px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
	
legend {
    background-color: #528e1829;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px 5px 3px 7px!important;
    width: auto!important;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.7); 
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.7);
}

.chart{
    width: 100%; 
    min-height: 500px; 
    margin-top: 50px;
}

.logo-iot{
    -webkit-filter: drop-shadow(2px 2px 2px #9c9c9c);
    filter: drop-shadow(2px 2px 2px #9c9c9c);
    margin-left: 40px;
    margin-top: -5px;
}